<template>
  <lightning-layout>
    <lightning-layout-item class="slds-align-middle">
      <lightning-combobox class="slds-align-middle"
      name="boatTypes"
      value={selectedBoatTypeId}
      options={searchOptions}
      onchange={handleSearchOptionChange}>         
      </lightning-combobox>
    </lightning-layout-item>
  </lightning-layout>
</template>