<template>
  <lightning-layout multiple-rows>
    <!-- Top -->
    <lightning-layout-item size="12">
      <lightning-card title="Find a Boat">
        <!-- New Boat button goes here -->
          <lightning-button
            variant="brand-outline"
            label="New Boat"
            title="Find a New Boat"
            onclick={createNewBoat}
            slot="actions"
            class="slds-var-m-right_x-small">            
          </lightning-button>

        <p class="slds-align_absolute-center">
          <!-- boatSearchForm component goes here -->
          <c-boat-search-form onsearch={searchBoats}></c-boat-search-form>
        </p>
      </lightning-card>
    </lightning-layout-item>
    <!-- Bottom -->
    <lightning-layout-item size="12" class="slds-var-p-top_small slds-is-relative">
      <template if:true={isLoading}>
        <!-- Spinner goes here -->
        <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>        
      </template>
      <!-- boatSearchResults goes here -->
      <c-boat-search-results onloading={handleLoading} ondoneloading={handleDoneLoading}></c-boat-search-results>
      <!-- onloading={handleLoading} ondoneloading={handleDoneLoading} -->
    </lightning-layout-item>
  </lightning-layout>
</template>